.special {
  color: #0f141e;
  line-height: 1;
  display: inline-block;
}

.special::after {
  height: 1px;
  border-bottom: 2px solid #0f141e;
  display: block;
  width: 100%;
  content: '';
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.special:hover::after {
  opacity: 1;
}
