@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ThinIta.eot");
  src: local("Helvetica Now Display Thin Ita"), local("HelveticaNowDisplay-ThinIta"), url("../assets/fonts/HelveticaNowDisplay-ThinIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ThinIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ThinIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ThinIta.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Light.eot");
  src: local("Helvetica Now Display Light"), local("HelveticaNowDisplay-Light"), url("../assets/fonts/HelveticaNowDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Light.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Light.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-BoldIta.eot");
  src: local("Helvetica Now Display Bold Ita"), local("HelveticaNowDisplay-BoldIta"), url("../assets/fonts/HelveticaNowDisplay-BoldIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-BoldIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-BoldIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-BoldIta.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-RegIta.eot");
  src: local("Helvetica Now Display Reg Ita"), local("HelveticaNowDisplay-RegIta"), url("../assets/fonts/HelveticaNowDisplay-RegIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-RegIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-RegIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-RegIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ExtLtIta.eot");
  src: local("Helvetica Now Display ExtLt Ita"), local("HelveticaNowDisplay-ExtLtIta"), url("../assets/fonts/HelveticaNowDisplay-ExtLtIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ExtLtIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ExtLtIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ExtLtIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-MedIta.eot");
  src: local("Helvetica Now Display Med Ita"), local("HelveticaNowDisplay-MedIta"), url("../assets/fonts/HelveticaNowDisplay-MedIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-MedIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-MedIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-MedIta.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ExtLt.eot");
  src: local("Helvetica Now Display ExtLt"), local("HelveticaNowDisplay-ExtLt"), url("../assets/fonts/HelveticaNowDisplay-ExtLt.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ExtLt.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ExtLt.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ExtLt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ExtBlk.eot");
  src: local("Helvetica Now Display ExtBlk"), local("HelveticaNowDisplay-ExtBlk"), url("../assets/fonts/HelveticaNowDisplay-ExtBlk.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ExtBlk.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ExtBlk.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ExtBlk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"), url("../assets/fonts/HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Bold.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ExtBdIta.eot");
  src: local("Helvetica Now Display ExtBd Ita"), local("HelveticaNowDisplay-ExtBdIta"), url("../assets/fonts/HelveticaNowDisplay-ExtBdIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ExtBdIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ExtBdIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ExtBdIta.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display Regular"), local("HelveticaNowDisplay-Regular"), url("../assets/fonts/HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Regular.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ExtBlkIta.eot");
  src: local("Helvetica Now Display ExBlk It"), local("HelveticaNowDisplay-ExtBlkIta"), url("../assets/fonts/HelveticaNowDisplay-ExtBlkIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ExtBlkIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ExtBlkIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ExtBlkIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Thin.eot");
  src: local("Helvetica Now Display Thin"), local("HelveticaNowDisplay-Thin"), url("../assets/fonts/HelveticaNowDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Thin.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Thin.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-LightIta.eot");
  src: local("Helvetica Now Display Light Ita"), local("HelveticaNowDisplay-LightIta"), url("../assets/fonts/HelveticaNowDisplay-LightIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-LightIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-LightIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-LightIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-ExtraBold.eot");
  src: local("Helvetica Now Display ExtBd"), local("HelveticaNowDisplay-ExtraBold"), url("../assets/fonts/HelveticaNowDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-ExtraBold.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-ExtraBold.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Medium.eot");
  src: local("Helvetica Now Display Medium"), local("HelveticaNowDisplay-Medium"), url("../assets/fonts/HelveticaNowDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Medium.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-HairlineI.eot");
  src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-HairlineI"), url("../assets/fonts/HelveticaNowDisplay-HairlineI.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-HairlineI.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-HairlineI.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-HairlineI.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-BlackIta.eot");
  src: local("Helvetica Now Display Black Ita"), local("HelveticaNowDisplay-BlackIta"), url("../assets/fonts/HelveticaNowDisplay-BlackIta.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-BlackIta.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-BlackIta.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-BlackIta.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Black.eot");
  src: local("Helvetica Now Display Black"), local("HelveticaNowDisplay-Black"), url("../assets/fonts/HelveticaNowDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Black.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Black.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("../assets/fonts/HelveticaNowDisplay-Hairline.eot");
  src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-Hairline"), url("../assets/fonts/HelveticaNowDisplay-Hairline.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay-Hairline.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay-Hairline.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #878a8f;
  color: #fff;
}

::selection {
  background-color: #878a8f;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  min-height: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 40px 1fr 40px;
      grid-template-columns: 40px 1fr 40px;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  margin: 0 auto;
  max-width: 1480px;
  position: relative;
  top: 96px;
}

header, section, footer {
  grid-column: 2/-2;
}

section.end {
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .container {
    -ms-grid-columns: 14px 1fr 14px;
        grid-template-columns: 14px 1fr 14px;
  }
}

@media screen and (max-width: 768px) {
  section.end {
    padding-bottom: 70px;
  }
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  font-family: "Helvetica Now Display",sans-serif;
  font-style: normal;
  line-height: 1.5625rem;
  font-weight: 500;
  letter-spacing: normal;
}

.h2,
h1,
h1.large,
h2,
h3 {
  font-family: "Helvetica Now Display",sans-serif;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #0f141e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.large {
  font-size: 4.5rem;
  line-height: 4.6875rem;
  padding-top: 1px;
  padding-bottom: 4px;
}

.large + h3 {
  margin-top: 20px;
}

h1 {
  font-size: 2.75rem;
  line-height: 3.125rem;
  padding-top: 4px;
  padding-bottom: 1px;
}

h1 + h5 {
  margin-top: 30px;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  padding-top: 2px;
  padding-bottom: 3px;
  letter-spacing: normal;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: 800;
  letter-spacing: normal;
  color: #0f141e;
}

.header-dark {
  font-weight: 500;
  color: #0f141e;
  letter-spacing: normal;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}

h5 + .large {
  margin-top: 15px;
}

h5 + h1 {
  margin-top: 5px;
}

.header-light {
  font-weight: 500;
  color: #878a8f;
  letter-spacing: normal;
}

.links {
  margin-top: 20px;
  display: block;
}

.links h4 {
  display: inline-block;
}

.links span {
  margin-left: 15px;
  margin-right: 15px;
  color: #878a8f;
}

a {
  color: #878a8f;
  text-decoration: none;
}

strong {
  font-weight: 500;
  color: #0f141e;
}

h3 + p {
  margin-top: 10px;
}

p {
  margin: 0;
  color: #878a8f;
  font-weight: 500;
  letter-spacing: 0.01em;
  padding-top: 2px;
  padding-bottom: 3px;
}

p.small {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.03em;
  padding-top: 1px;
  padding-bottom: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

.black {
  color: #0f141e;
}

.topic {
  font-weight: 400;
}

.topic .date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.4em;
}

.topic .name {
  font-weight: 800;
  letter-spacing: -0.01em;
  line-height: 2.5rem;
  font-size: 2rem;
}

@media screen and (max-width: 1300px) {
  .large {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

.field label {
  cursor: text;
  font-weight: 400;
  font-size: .8123rem;
  line-height: 1.25rem;
  letter-spacing: .03em;
  padding-top: 1px;
  padding-bottom: 4px;
  color: #878a8f;
}

.field input, .field textarea {
  font-family: "Helvetica Now Display",sans-serif;
  background: #fff;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: #0f141e;
  padding: 8px 0 6px 0;
  border: 1px solid #e7e8e9;
  border-width: 0 0 1px 0;
}

.field input::-webkit-input-placeholder, .field textarea::-webkit-input-placeholder {
  color: #0f141e;
  opacity: 1;
}

.field input:-ms-input-placeholder, .field textarea:-ms-input-placeholder {
  color: #0f141e;
  opacity: 1;
}

.field input::-ms-input-placeholder, .field textarea::-ms-input-placeholder {
  color: #0f141e;
  opacity: 1;
}

.field input::placeholder, .field textarea::placeholder {
  color: #0f141e;
  opacity: 1;
}

.form-button {
  background: #fff;
  font-family: "Helvetica Now Display DW",sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5625rem;
  margin-top: 10px;
  color: #0f141e;
  cursor: pointer;
  padding: 0;
  border: 0 none;
}

@media screen and (max-width: 768px) {
  .large {
    font-size: 3.875rem;
    line-height: 4.0625rem;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

@media screen and (max-width: 500px) {
  .large {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 70vmin 30vmin;
      grid-template-rows: 70vmin 30vmin;
}

.content {
  grid-column: 1/-2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile-image {
  grid-column: 2/-1;
  grid-row: 1/-1;
  opacity: 1;
}

.profile-image img {
  -webkit-transform: translate3d(2%, -10%, 0);
          transform: translate3d(2%, -10%, 0);
  max-width: 100%;
  width: 100%;
}

.scroll-down-animation {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

section.home-top .scroll-to-icon {
  width: 20px;
  height: 30px;
  -webkit-box-shadow: inset 0 0 0 2px #0f141e;
          box-shadow: inset 0 0 0 2px #0f141e;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  header {
    -ms-grid-columns: 1.5fr 0.5fr;
        grid-template-columns: 1.5fr 0.5fr;
    -ms-grid-rows: 200px 100px;
        grid-template-rows: 200px 100px;
  }
  .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .profile-image img {
    -webkit-transform: translate3d(2%, -8%, 0);
            transform: translate3d(2%, -8%, 0);
  }
  .scroll-down-animation {
    display: block;
    visibility: hidden;
    margin: 0;
    height: 0;
  }
  .scroll-down-animation a {
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
  }
  header .content {
    grid-column: 1/-1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 58%;
  }
  .profile-image {
    grid-column: 1/-1;
  }
  .profile-image img {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: calc(50vh - $navbar-height) 50vh;
        grid-template-rows: calc(50vh - $navbar-height) 50vh;
  }
  header .content {
    grid-column: 1/-1;
    grid-row: 2/-1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%;
  }
}

@media screen and (min-width: 3000px) {
  body {
    background-image: url("/img/e.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    left: 0;
    position: absolute;
    background-position: center;
  }
  header {
    -ms-grid-rows: calc(80vh - $navbar-height) 20vh;
        grid-template-rows: calc(80vh - $navbar-height) 20vh;
  }
  .profile-image {
    display: none;
  }
}

@media screen and (min-width: 5000px) {
  header {
    -ms-grid-rows: calc(90vh - $navbar-height) 10vh;
        grid-template-rows: calc(90vh - $navbar-height) 10vh;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 86px;
}

.logo,
.menu {
  border: 0 none;
  cursor: pointer;
}

.logo {
  margin: 40px 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .selection-logo {
  display: block;
}

.logo .hover-logo {
  display: none;
}

.logo:hover .selection-logo {
  display: none;
}

.logo:hover .hover-logo {
  display: block;
}

.menu {
  margin: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .close {
  display: none;
}

.menu-text {
  padding: 0;
  padding-right: 15px;
  color: #0f141e;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.menu-icon {
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 22px;
  height: 22px;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  position: absolute;
  width: 22px;
  height: 3px;
  left: 0;
  background-color: #333;
  -webkit-transition: 0.25s ease-in-out,color 0.2s ease-in-out;
  transition: 0.25s ease-in-out,color 0.2s ease-in-out;
}

.bar1 {
  top: 3px;
}

.bar2 {
  top: 10px;
}

.bar3 {
  bottom: 2px;
}

.change a .selection-logo {
  display: none;
}

.change a .hover-logo {
  display: block;
}

.change div {
  color: #878a8f;
}

.change div .bar1,
.change div .bar2,
.change div .bar3 {
  background-color: #878a8f;
  margin: 5px 0;
}

nav.change {
  width: calc(100% - 17px);
}

.menu:hover .menu-text {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #878a8f;
}

.menu:hover .menu-icon .bar1,
.menu:hover .menu-icon .bar2,
.menu:hover .menu-icon .bar3 {
  background-color: #878a8f;
}

@media screen and (max-width: 1024px) {
  .navbar {
    background: rgba(255, 255, 255, 0.95);
  }
  .logo {
    margin: 0 0 0 14px;
  }
  .menu {
    margin: 0 14px 0 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -7px);
            transform: rotate(45deg) translate(-6px, -7px);
  }
}

@media screen and (min-width: 5000px) {
  .navbar {
    background: rgba(255, 255, 255, 0.95);
  }
}

@-webkit-keyframes highlightLogo {
  to {
    opacity: 1;
  }
}

@keyframes highlightLogo {
  to {
    opacity: 1;
  }
}

.fix {
  overflow: hidden;
}

.on {
  overflow-y: scroll;
}

.menu-list {
  grid-column: 2/-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu-list div {
  color: #878a8f;
  display: inline-block;
  font-size: 3.25rem;
  line-height: 4.0625rem;
  letter-spacing: -0.01em;
  font-weight: 800;
  white-space: nowrap;
  cursor: pointer;
}

.menu-list div:hover {
  color: white;
}

.menu-list .active {
  color: white;
}

.overlay-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
  -ms-grid-rows: auto 50px;
      grid-template-rows: auto 50px;
}

@media screen and (max-width: 768px) {
  .menu-list div {
    line-height: 2.1875rem;
    font-size: 1.75rem;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 20px;
}

.list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: auto;
  gap: 45px;
  margin-top: 95px;
}

.list img {
  width: calc( 100%);
}

.list-item {
  margin: 0;
  padding: 0;
}

.list-item .topic {
  position: absolute;
  max-width: 380px;
  top: 50px;
  left: 60px;
}

.list-item .topic.light {
  color: #ffffff;
}

.list-item .topic.dark {
  color: #000000;
}

.list-item .topic .date {
  padding: 5px 0;
}

.list-item .topic .name {
  padding: 3px 2px;
}

.list-item .topic .call-to-action {
  margin-top: 10px;
  color: #9d9d9d;
}

.list-item .topic .call-to-action .cta-arrow {
  margin-left: 5px;
  width: auto;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  section {
    padding-top: 60px;
  }
  .list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .list-item .topic {
    left: 30px;
  }
}

section.top {
  padding-top: 60px;
}

.contact-image img {
  max-width: 100%;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-bottom: 110px;
  padding-top: 60px;
}

.contact-details .aside {
  width: 30%;
}

.contact-details .contact-content {
  width: 58%;
  margin-left: 10.33333%;
  padding-top: 55px;
}

form {
  margin-top: 55px;
}

.field {
  margin-bottom: 45px;
  display: block;
  position: relative;
}

.field label {
  display: block;
}

.field input, .field textarea {
  width: 100%;
  height: 45px;
}

.field input::-webkit-input-placeholder, .field textarea::-webkit-input-placeholder {
  color: #0f141e;
}

.field input:-ms-input-placeholder, .field textarea:-ms-input-placeholder {
  color: #0f141e;
}

.field input::-ms-input-placeholder, .field textarea::-ms-input-placeholder {
  color: #0f141e;
}

.field input::placeholder, .field textarea::placeholder {
  color: #0f141e;
}

.field textarea {
  display: block !important;
  height: auto !important;
  min-height: 45px;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.form-button {
  display: block;
  width: auto;
  height: 30px;
}

.form-button .message-box {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  left: 0;
  margin-right: 3px;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  border-bottom: 1px solid #0f141e;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

button:focus {
  border: none;
}

@media screen and (max-width: 600px) {
  section.top {
    padding-top: 5px;
  }
  .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .contact-details .aside {
    width: 100%;
  }
  .contact-details .contact-content {
    width: 100%;
    margin: 0;
    padding-top: 55px;
  }
}

.about-image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.about-image img {
  max-width: 100%;
}

.about {
  padding-right: 40px;
  padding-left: 40px;
}

.about div {
  text-align: center;
  padding-top: 15px;
}

.about .conclusion {
  padding-top: 25px;
}

.about-services-tools > * {
  text-align: center;
}

footer {
  padding-top: 74px;
  border-top: 1px solid #e7e8e9;
  border-top-color: #e7e8e9;
  border-top-style: solid;
  border-top-width: 1px;
}

footer ul {
  padding-top: 2px;
  padding-bottom: 3px;
  margin-top: 10px;
}

footer ul li {
  list-style-type: none;
  font-weight: 500;
  color: #878a8f;
}

footer .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr 2fr 3fr;
      grid-template-columns: 4fr 3fr 2fr 3fr;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
}

footer div {
  margin: 0;
}

.contact {
  padding-right: 40px;
}

.latest_projects {
  margin-left: calc(33.33%);
}

.follow {
  margin-left: calc(33.33%);
}

.copyright {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-bottom: 95px;
}

.copyright a {
  display: block;
  width: 46px;
  height: 46px;
}

.copyright .copyright-text {
  margin: 3px 0 0 15px;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 0;
  }
  footer .info {
    -ms-grid-rows: (max-content)[5];
        grid-template-rows: repeat(5, -webkit-max-content);
        grid-template-rows: repeat(5, max-content);
  }
  footer .info > div {
    grid-column: 1/-1;
    margin-left: 0;
    margin-top: 60px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .contact-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .project-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.newsletter label {
  font-size: 2.5rem !important;
  margin: 0 0 80px !important;
  font-family: "PT Serif", serif !important;
}

.newsletter .email {
  font-family: "Helvetica Now Display",sans-serif !important;
  background: #fff !important;
  font-size: 1.125rem !important;
  line-height: 1.875rem !important;
  font-weight: 500 !important;
  color: #0f141e !important;
  padding: 8px 0 6px 0 !important;
  border: 1px solid #0f141e !important;
  border-radius: 0 !important;
  border-width: 0 0 1px 0 !important;
}

.newsletter .email::-webkit-input-placeholder {
  color: #0f141e !important;
  opacity: 1 !important;
}

.newsletter .email:-ms-input-placeholder {
  color: #0f141e !important;
  opacity: 1 !important;
}

.newsletter .email::-ms-input-placeholder {
  color: #0f141e !important;
  opacity: 1 !important;
}

.newsletter .email::placeholder {
  color: #0f141e !important;
  opacity: 1 !important;
}

.newsletter .button {
  font-weight: 600 !important;
  letter-spacing: 0.2em !important;
  width: 150px !important;
  height: 42px !important;
  margin-left: 12px !important;
  background: #0f141e !important;
  border: 2px solid  #0f141e !important;
  padding: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  text-transform: uppercase !important;
  -webkit-transition: .3s ease !important;
  transition: .3s ease !important;
}

.newsletter .button:hover {
  background: #fff !important;
  color: #0f141e !important;
}

@media (max-width: 768px) {
  .newsletter .email {
    width: 80% !important;
    margin-bottom: 20px !important;
  }
  .newsletter .clear {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .newsletter label {
    font-size: 1.5rem !important;
    margin: 0 0 20px !important;
  }
}

.thankyou-redirect {
  background-color: #0f141e;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thankyou-redirect .card {
  width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 24px 0 24px 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 8px 2px #ffffff;
          box-shadow: 0px 1px 8px 2px #ffffff;
}

.thankyou-redirect .message {
  margin-top: 10px;
}

.thankyou-redirect .site-redirect {
  margin-top: 20px;
}

.thankyou-redirect .left-arrow {
  margin-right: 8px;
  margin-bottom: 1px;
}

@media screen and (max-width: 500px) {
  .thankyou-redirect {
    padding-top: 100px;
  }
  .thankyou-redirect .card {
    width: 80%;
    padding-right: 24px;
  }
}

.special {
  color: #0f141e;
  line-height: 1;
  display: inline-block;
}

.special::after {
  height: 1px;
  border-bottom: 2px solid #0f141e;
  display: block;
  width: 100%;
  content: '';
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.special:hover::after {
  opacity: 1;
}

.change .menu-text {
  display: none;
}

.change .menu-icon .bar1,
.change .menu-icon .bar2,
.change .menu-icon .bar3 {
  width: 28px;
}

.change .close {
  display: block;
  font-size: 0.8125rem;
}

.change:hover .close {
  color: white;
}

.change:hover .menu-icon .bar1,
.change:hover .menu-icon .bar2,
.change:hover .menu-icon .bar3 {
  background-color: #ffffff;
}

.change .bar1 {
  top: 3px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.change .bar2 {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}

.change .bar3 {
  top: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media screen and (max-width: 1024px) {
  .change .bar3 {
    top: 3px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .change, .navbar {
    background: none;
  }
}

@media screen and (max-width: 600px) {
  .menu-text {
    display: none;
  }
  .change .close {
    display: none;
  }
}

.new-icon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.list-item:hover .circle {
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 295.16;
  stroke-dashoffset: 295.16;
  -webkit-animation: dash 0.6s linear forwards;
          animation: dash 0.6s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.list-item {
  position: relative;
}

.list img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-menu,
.overlay-img {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #131822;
  opacity: 0.8;
}

.overlay-img {
  opacity: 0;
  height: 100%;
}

.topic .call-to-action {
  opacity: 0;
}

.list-item:hover .overlay-img {
  opacity: 0.9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list-item:hover .topic {
  -webkit-animation: fadeIn ease-in-out 0.3s;
          animation: fadeIn ease-in-out 0.3s;
}

.list-item:hover .topic .name,
.list-item:hover .topic .date {
  color: #fff;
}

.list-item:hover .topic .call-to-action {
  -webkit-animation: fadeIn ease-in-out 0.5s;
          animation: fadeIn ease-in-out 0.5s;
  opacity: 1;
}

.overlay-menu {
  z-index: 0;
  opacity: 0;
  height: 0%;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.on {
  z-index: 2;
  opacity: 0.98;
  height: 100vh;
  position: fixed;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.scroll-down-animation {
  width: 100%;
}

.scroll-to {
  width: 20px;
  display: block;
  height: 30px;
  margin: 30px auto 22px auto;
}

.scroll-to-icon {
  width: 20px;
  height: 30px;
  -webkit-box-shadow: inset 0 0 0 2px #0f141e;
          box-shadow: inset 0 0 0 2px #0f141e;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scroll-to-icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background: #0f141e;
  margin-left: 8px;
  top: 8px;
  border-radius: 2px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  position: absolute;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
}

.scroll-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: black;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  color: white;
  z-index: 1;
  border-radius: 30px;
  opacity: 0.3;
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.1s ease-in-out;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.1s ease-in-out;
}

.scroll-up:hover {
  opacity: 1;
}

.scroll-on {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  visibility: visible;
}

/* This animation helps me to fadeIn elements as and when they come into view
    1) Using the Intersection Observer for changing classes when elements come into view
    2) Using the fade-in-section and is-visible classes to create the fade in animation
*/
header.lazyload {
  opacity: 0;
}

.fadeIn {
  -webkit-animation: fadeInView .7s;
          animation: fadeInView .7s;
  -webkit-animation-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
          animation-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInView {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInView {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
