.change .menu-text {
  display: none;
}

.change .menu-icon .bar1,
.change .menu-icon .bar2,
.change .menu-icon .bar3 {
  width: 28px;
}

.change .close {
  display: block;
  font-size: 0.8125rem;
}

.change:hover .close {
  color: white;
}

.change:hover .menu-icon .bar1,
.change:hover .menu-icon .bar2,
.change:hover .menu-icon .bar3 {
  background-color: #ffffff;
}

.change .bar1 {
  top: 3px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  top: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media screen and (max-width: 1024px) {
  nav.change {
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-text {
    display: none;
  }
  .change .close {
    display: none;
  }
}
