html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  line-height: 1.5625rem;
  font-weight: 500;
  letter-spacing: normal;
}

.h2,
h1,
h1.large,
h2,
h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #0f141e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.large {
  font-size: 4.5rem;
  line-height: 4.6875rem;
  padding-top: 1px;
  padding-bottom: 4px;
}

.large + h3 {
  margin-top: 20px;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  padding-top: 2px;
  padding-bottom: 3px;
  letter-spacing: normal;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: 800;
  letter-spacing: normal;
  color: #0f141e;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}

h5 + .large {
  margin-top: 15px;
}

.header-light {
  font-weight: 500;
  color: #878a8f;
  letter-spacing: normal;
}

.links {
  margin-top: 20px;
  display: block;
}

.links h4 {
  display: inline-block;
}

.links span {
  margin-left: 15px;
  margin-right: 15px;
  color: #878a8f;
}

a {
  color: #878a8f;
  text-decoration: none;
}

strong {
  font-weight: 500;
  color: #0f141e;
}

h3 + p {
  margin-top: 10px;
}

p {
  margin: 0;
  color: #878a8f;
  font-weight: 500;
  letter-spacing: 0.01em;
  padding-top: 2px;
  padding-bottom: 3px;
}

p.small {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.03em;
  padding-top: 1px;
  padding-bottom: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

.black {
  color: #0f141e;
}

.topic {
  font-weight: 400;
}

.topic .date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.4em;
}

.topic .name {
  font-weight: 800;
  letter-spacing: -0.01em;
  line-height: 2.5rem;
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .large {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

@media screen and (max-width: 768px) {
  .large {
    font-size: 3.875rem;
    line-height: 4.0625rem;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

@media screen and (max-width: 500px) {
  .large {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}
