.about-image {
  width: fit-content;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.about {
  div {
    text-align: center;
    padding-top: 15px;
  }
  .conclusion {
    padding-top: 25px;
  }
}

.about-services-tools {
  display: flex;
  gap: 80px;
  div {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .about-services-tools {
    div h3 {
      font-size: 1.375rem;
      line-height: 1.875rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-services-tools {
    flex-direction: column;
  }
}
