.contact-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 110px;
    padding-top: 60px;
    .aside{
        width: 30%;
    }
    .contact-content{
        width: 58%;
        margin-left: 10.33333%;
        padding-top: 55px;
    }
}

form{
    margin-top: 55px;
}

//Input fields
.field {
    margin-bottom: 45px;
    display: block;
    position: relative;
    label {
        display: block;
    }
    input, textarea {
        width: 100%;
        height: 45px;
        &::placeholder{
            color: #0f141e;   
        }
    }
    textarea{
        display: block!important;
        height: auto!important;
        min-height: 45px;
        resize: none;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

.form-button {
	display: block;
	width: auto;
    height: 30px;
    .message-box{
        height: 20px;
        width: 20px;
        position: relative;
        top: 3px;
        left: 0;
        margin-right: 3px;
    }
}

.input-bottom-lines{
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    background: #0f141e;
    bottom: 0;
    left: 0;
    transition: .25s;
}

input:focus, textarea:focus, select:focus, button:focus{//To remove the irritating black line that covers the input area on being selcted
    outline: none;
    border: none;
}

@media screen and (max-width: 600px) {
    .contact-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 40px;
        .aside{
            width: 100%;
        }
        .contact-content{
            width: 100%;
            margin: 0;
            padding-top: 55px;
        }
    }
  }
  