html {
  height: 100%;
  scroll-behavior: smooth;
}

::selection{
  background-color: $selection-background-color;
  color: $section-color;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $background-color;
  min-height: 100%;
}

//The .container contains all the visible content except the navbar
.container {
  display: grid;
  height: 100%;
  grid-template-columns: $container-margin-row-max 1fr $container-margin-row-max;
  grid-template-rows: max-content;
  margin: 0 auto;//Another measure to make sure content is centered
  max-width: $container-max-width;

  //To work with the navbar which is 86px thus we make sure that the content is displayed 10px below it
  position: relative;
  top: 96px;
}

header,.projects,footer {
  grid-column: 2/-2;
}

// -----------Media Queries-----------
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: $container-margin-row-min 1fr $container-margin-row-min;
  }
}
