header {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 70vmin 30vmin;
}

.content {
  grid-column: 1/-2;
  grid-row: 1/2;
  display: flex;
  z-index: $header-content-z-index;
  flex-direction: column;
  justify-content: flex-end;//We use flex end here so that the main content is close to scroll-down icon.
}

.profile-image {
  grid-column: 2/-1;
  grid-row: 1/-1;
  opacity: 1;//Default opacity of image which decreases as you scroll down
  img {
    transform: translate3d(2%, -10%, 0);//To basically translate the image forcibly close to the content and close to the navbar(#It works!)
    max-width: 100%;
    width: 100%;
  }
}
.scroll-down-animation {
  grid-column: 1/-1;
  grid-row: 2/-1;
}
section.home-top .scroll-to-icon {
  width: 20px;
  height: 30px;
  box-shadow: inset 0 0 0 2px #0f141e;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  transform: translateY(0);
}

//---------------------------------------------//Media queries
@media screen and (max-width: 1024px) {
  header {
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 200px 100px;
  }
  .content {
    justify-content: start;
  }
  .profile-image {
    img {
      transform: translate3d(2%, -8%, 0);
    }
  }
  .scroll-down-animation {
    display: block;
    visibility: hidden;
    margin: 0;
    height: 0;
    a{
      height: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    .content {
      grid-column: 1/-1;
      justify-content: end;
      width: 58%;
    }
  }

  .profile-image {
    grid-column: 1/-1;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  //<30%
  header {
    grid-template-columns: 1fr;
    grid-template-rows: calc(50vh - 86px) 50vh;//Needs to match my phone
    .content {
      grid-column: 1/-1;
      grid-row: 2/-1;
      justify-content: end;
      width: 100%;
    }
  }
}

@media screen and (min-width: 3000px) {
  body {
    //Background image when header changes
    background-image: url("/img/e.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    left: 0;
    position: absolute;
    background-position: center;
  }
  header {
    grid-template-rows: calc(80vh - 86px) 20vh;
  }
  .profile-image {
    display: none;
  }
}

@media screen and (min-width: 5000px) {
  header {
    grid-template-rows: calc(90vh - 86px) 10vh;
  }
}
