.navbar {
  display: flex;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  z-index: $navbar-z-index;
  height: $navbar-height;
}

.logo,
.menu {
  border: 0 none;
  cursor: pointer;
}

.logo {
  margin: 40px 0 0 40px;
  display: flex;
  align-items: center;
  .selection-logo{
    display: block;
  }
  .hover-logo{
    display: none;
  }
  &:hover{
    
    .selection-logo{
      display: none;
    }
    .hover-logo{
      display: block;
    }
  }
}


.menu {
  margin: 40px 40px 0 0;

  display: flex;
  align-items: center;
  .close {
    display: none;
  }
}

.menu-text {
  padding: 0;
  padding-right: 15px;
  color: $bold-text-color;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  font-weight: 800;

  letter-spacing: 0.2em;
}

.menu-icon {
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  width: 22px;
  height: 22px;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  position: absolute;
  width: 22px;
  height: 3px;
  left: 0;
  background-color: #333;
  transition: 0.25s ease-in-out,color 0.2s ease-in-out;
}
.bar1 {
  top: 3px;
}

.bar2 {
  top: 10px;
}

.bar3 {
  bottom: 2px;
}

.change {
  a{
    .selection-logo{
      display: none;
    }
    .hover-logo{
      display: block;
    }
  }
  div {
    color: $normal-text-color;
    .bar1,
    .bar2,
    .bar3 {
      background-color: $normal-text-color;
      margin: 5px 0;
    }
  }
}

nav.change{//So that the fixed scroll bar can be seen
  width: calc(100% - 17px);
}
//On hovering on menu
.menu:hover {
  .menu-text {
    transition: color 0.2s ease-in-out;
    color: $normal-text-color;
  }
  .menu-icon {
    .bar1,
    .bar2,
    .bar3 {
      background-color: $normal-text-color;
    }
  }
}

// -----------Media Queries-----------
@media screen and (max-width: 1024px) {
  .navbar {
    background: rgba(255, 255, 255, 0.95);
  }

  .logo {
    margin: 0 0 0 14px;
  }

  .menu {
    margin: 0 14px 0 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
  }
}

@media screen and (min-width: 5000px) {
 .navbar{
  background: rgba(255, 255, 255, 0.95);//This temporary measure is taken so that the scroll-down icon is hidden which is visible due to less content to scroll down to 
 }
}


@keyframes highlightLogo {
  to {
    opacity: 1;
  }
}