$padding-top: 100px;
$padding-bottom: 40px;

$list-item-size: 500px; //This size makes sure there are only 2 cards in  row in default 100% that is till ~1100px
$list-item-gap: 45px;

section {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($list-item-size, 1fr));
  grid-auto-rows: auto;
  gap: $list-item-gap;
  margin-top: 95px;

  img {
    width: calc(
      100%
    ); //This makes sure that the image covers the entire space of the list-item div
  }
}

.list-item {
  margin: 0;
  padding: 0;
  .topic {
    position: absolute;
    // display: block;
    max-width: 380px;
    top: 50px;
    left: 60px;
    &.light {
      color: #fff;
    }
    &.dark {
      color: #000;
    }

    // z-index: 2;
    .date {
      padding: 5px 0;
    }
    .name {
      padding: 3px 0;
    }
    .call-to-action {
      margin-top: 10px;
      color: #9d9d9d;
      .cta-arrow {
        // color: rgb(0, 26, 255);
        margin-left: 5px;
        width: auto;
        display: inline-block;
      }
    }
  }
}

// -----------Media Queries-----------
@media screen and (max-width: 768px) {
  section {
    padding-top: 90px;
  }
  .list {
    grid-template-columns: 1fr;
  }
  .list-item {
    .topic {
      left: 30px;
    }
  }
}
