@import './variables.scss';
section {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($list-item-size, 1fr));
  grid-auto-rows: auto;
  gap: $list-item-gap;
  margin-top: 95px;

  img {
    width: calc(
      100%
    ); //This makes sure that the image covers the entire space of the list-item div
  }
}

.list-item {
  margin: 0;
  padding: 0;
  .topic {
    position: absolute;
    max-width: 380px;
    top: 50px;
    left: 60px;
    &.light {
      color: $project-text-color-light;
    }
    &.dark {
      color: $project-text-color-dark;
    }

    .date {
      padding: 5px 0;
    }
    .name {
      padding: 3px 2px;//2px so that when cards are very small content does not stick to edges
    }
    .call-to-action {
      margin-top: 10px;
      color: #9d9d9d;
      .cta-arrow {
        // color: rgb(0, 26, 255);
        margin-left: 5px;
        width: auto;
        display: inline-block;
      }
    }
  }
}

// -----------Media Queries-----------
@media screen and (max-width: 768px) {
  section {
    padding-top: 90px;
  }
  .list {
    grid-template-columns: 1fr;
  }
  .list-item {
    .topic {
      left: 30px;
    }
  }
}
